@import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');

* {
    font-family: 'Mate SC', serif;
}
.container {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
    font-size: 25px;
}


.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

nav {
    font-size: 25px;
    margin-top: -35px;
    background-color: black;
    margin-left: -10px;
    margin-right: 1700px;
}

body {
    background-color: black;
}

.background {
    background-image:  linear-gradient(
        rgba(0, 0, 0, 0.45), 
        rgba(0, 0, 0, 0.5)), url(negative-space-coding.jpg);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 100%;
}


#fccProj img {
    width: 400px;
    margin-bottom: 10px;
    border-radius: 5px;
}

#fccProj a {
    background-color: black;
    border-radius: 10px;
}

#ownProjects a {
    background-color: black;
    border-radius: 10px;
}

ul {
    list-style-position: inside;
}

ol {
    list-style-position: inside;
}

h1 {
    color:yellow;
    text-align: center;
    background-color: black;
    margin-top: -10px;
    margin-left: -8px;
    margin-right: -8px;
    font-size: 50px;
    text-shadow: 2px 2px 5px red;
}

h2 {
    color: yellow;
    text-shadow: 2px 2px 5px red;
}

p {
    color: white;
    text-align: center;
    font-size: 25px;
    text-shadow: 2px 2px 5px red;
}

a {
    color: red;
    text-decoration: none;
    display: inline-flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding: 10px 15px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 5px b;
}

a:hover {
    color: yellow;
}

footer {
    text-align: center;
    background-color: black;
    margin-bottom: -10px;
    margin-left: -8px;
    margin-right: -8px;
    font-size: 20px;
    word-spacing: 3px;
}
